03_n8n/examples/03_rag-pipeline/workflows/02-RAG 01 — Ingest documents (Webhook → PGVector).json
{
  "name": "RAG 01 — Ingest documents (Webhook → PGVector)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "rag-ingest",
        "responseMode": "lastNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -528,
        192
      ],
      "id": "3dcd3f01-723f-4f51-9a10-ff5bfbd3b181",
      "name": "Webhook Ingest",
      "webhookId": "rag-ingest"
    },
    {
      "parameters": {
        "jsCode": "const b = $json.body ?? $json;\nconst text = typeof b.text === 'string' ? b.text : '';\nif (!text.trim()) {\n  throw new Error('JSON must include non-empty string field \"text\"');\n}\nconst source = typeof b.source === 'string' && b.source.trim() ? b.source : 'rag-ingest';\nreturn [{ json: { text, source } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -288,
        192
      ],
      "id": "e78c8a80-214d-4e45-acec-bf31ca35438b",
      "name": "Normalize ingest JSON"
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": "knowledge_vectors",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePGVector",
      "typeVersion": 1.2,
      "position": [
        0,
        192
      ],
      "id": "6f2cd52a-41be-4eb7-9fa5-d2e2af1507c9",
      "name": "RAG PGVector Insert",
      "credentials": {
        "postgres": {
          "id": "5voGfCGfb7qRDExO",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "model": "nomic-embed-text"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOllama",
      "typeVersion": 1,
      "position": [
        0,
        400
      ],
      "id": "babe1ae6-8041-4ec4-b703-30130f4206eb",
      "name": "Embeddings Ollama",
      "credentials": {
        "ollamaApi": {
          "id": "GWelp5J5yestCRwQ",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        48,
        0
      ],
      "id": "cf0eb4be-adcd-43a3-ab72-ea1f76846248",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a1111111-1111-4111-8111-111111111111",
              "name": "ok",
              "value": true,
              "type": "boolean"
            },
            {
              "id": "a2222222-2222-4222-8222-222222222222",
              "name": "message",
              "value": "Chunks written to PGVector (see execution log for details).",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        272,
        192
      ],
      "id": "e8813705-5840-45ae-a0ec-a6b49a60d586",
      "name": "Build API response"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook Ingest": {
      "main": [
        [
          {
            "node": "Normalize ingest JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize ingest JSON": {
      "main": [
        [
          {
            "node": "RAG PGVector Insert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RAG PGVector Insert": {
      "main": [
        [
          {
            "node": "Build API response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Ollama": {
      "ai_embedding": [
        [
          {
            "node": "RAG PGVector Insert",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "RAG PGVector Insert",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "749c1cfc-2fea-4097-a828-28ca7b891e17",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "1ccb95bd406a15c892fbc4842ecba309a913bee37682092929f737801f0b7a46"
  },
  "id": "yBEOhlfR7kpLFJuN",
  "tags": []
}